# An example .env to document which variables are needed with placeholder values

VITE_SCRAPE_API_URL=https://world-cup-web-scraper-1.onrender.com
DATABASE_URL=postgres://username:password@localhost:5432/web_scraper
